<!DOCTYPE HTML>
<html>
	<head>
		<title>Cartographr, the free charts portal</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/_jN4WEXYLggl.css" />
	</head>
	<body>
		<div class="bar" id="topbar">
			<div id="insidebar">
				<ul class="leftsided">
					<li><a href="/" style="color:#2b87db;">Cartographr</a></li>
					<li style="margin-left:40px;">
						<form id="searchbox" action="">
   							<input id="search" type="text" placeholder="Search for charts, people and topics">
						</form>
					</li>
					<li>
						<a href="./chart" class="button" id="crt_chart">Create Chart</a>
					</li>

				</ul>
				<ul class="rightsided">
					<li><a href="#">Login / Sign up</a></li>
					<li><a href="#">EN</a></li>
				</ul>
			</div>
		</div>
		<div class="container">
			<h1>Oops!</h1>
			<h3>It looks like you may have taken a wrong turn.<br>Dont worry... It happens to the best of us.</h3>
			<p>Click <a href="/">here</a> to go home</p>
		</div>
	</body>
</html>