<!DOCTYPE HTML>
<html>
	<head>
		<title>About Cartographr - Cartographr</title>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
		<link rel="stylesheet" href="/static/css/_jN4WEXYLggl.css" />
	</head>
	<body>
		<div class="bar" id="topbar">
			<div style="width:100%;height:2px;background-color:#2B87DB;"></div>
			<div id="insidebar">
				<ul class="leftsided">
					<li><a href="/" style="color:#2b87db;">Cartographr</a></li>
				</ul>
				<ul class="rightsided">
					<li><a href="/about" style="color:#2B87DB;">About</a></li>
					<li><a href="/help">Help</a></li>
					<li><a href="/blog">Blog</a></li>
				</ul>
			</div>
		</div>
		<div class="container about">
			<span style="font-size:30px;">What is Cartographr</span><br><br>
			<p>Cartographr's aim is to provide the world with a platform where <br/>all the data is provided in the form of
				charts and visualizations.<br/><br/>Consider Cartographr as a Wikipedia of Visualisations, anyone can embed <br/>the
				charts available here, prepare charts using predefined visualizations options,<br/> and edit already available visualizations.<br/><br/>
				Use it well.
			</p><br><br>
			<p><img style="border-radius:100px;" height=150 src="https://lh5.googleusercontent.com/-Vh8E0dEuQ_0/AAAAAAAAAAI/AAAAAAAAC30/H5tyYGRg8sM/photo.jpg">
			<br>Jitesh Motwani</p>
		</div>
		<!--<embed src="http://127.0.0.1:5000/embed/Do-or-do-not-there-is-no-try" width="350" height="300" />-->
	</body>
</html>