<div id="blackpan" style="width:100%;height:100vh;position:fixed;top:0px;background:rgb(0,0,0);display:none;opacity:0;">
		</div>
		<div id="login_pan" style="width:100%;height:100vh;background:rgb(255,255,255);position:fixed;top:0px;z-index:30;opacity:0;display:none;">
		<div class="container" style="width:650px; margin:0 auto; text-align:center;margin-top:70px;">
			<h1 style="color:#2b87db;font-family: 'Kaushan Script', cursive;font-size:50px;">Cartographr</h1><br>
      <h2 style="color:#AAA;">A place where charts are made and knowledge is shared.</h2>
      <br>
      <div class="inside" style="height:200px;">
      <a href="#" id="login_pan_remove" style="color:#2b87db;font-size:14px;font-weight:800;">< Nevermind, go back</a>
      <br /><br />
      <a href="/googlelogin/home"><div class="login"><img src="/static/img/essential2/gplus.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with Google</div></a>
      <br>
      <div class="login" ><img src="/static/img/essential2/fb.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with Facebook</div>
      <br>
      <div class="login"><img src="/static/img/essential2/linkedin.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with LinkedIn</div>
      <br>
      <span style="font-size:14px;">- or -</span>
      <br><br>
      <div class="login"><img src="/static/img/essential2/email.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with Email</div>
      </div>
		</div>
		</div>