<!DOCTYPE HTML>
<html>
  <head>
    <title>Cartographr, the free charts portal</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Arvo" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/_jN4WEXYLggl.css" />
    <style>
      .login{
        text-align:left;padding-left:10px;width:260px;height:45px;font-size:14px;background:#FFF;margin:0 auto;line-height:45px;color:rgb(40,40,40);border-radius:2px;cursor:pointer;border:solid 1px rgb(245,245,245);
      }
      .login:hover{
        background:rgb(245,245,245);
      }
      .login:active{
        box-shadow: inset 1px 2px 2px 2px #EEE;
      }
    </style>
  </head>
  <body style="background:rgb(255,255,255);">
    <div class="container" style="width:650px; margin:0 auto; text-align:center;margin-top:70px;opacity:0;">
    <h1 style="color:#2b87db;font-family: 'Kaushan Script', cursive;font-size:50px;">Cartographr</h1><br>
      <h2 style="color:#AAA;">A place where charts are made and knowledge is shared.</h2>
      <br>
      
      <div class="inside" style="height:200px;">
      <a href="/" style="color:#2b87db;font-size:14px;font-weight:800;">< Nevermind, go back</a>
      <br /><br />
      <a href="/googlelogin"><div class="login"><img src="/static/img/essential2/gplus.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with Google</div></a>
      <br>
      <div class="login" ><img src="/static/img/essential2/fb.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with Facebook</div>
      <br>
      <div class="login"><img src="/static/img/essential2/linkedin.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with LinkedIn</div>
      <br>
      <span style="font-size:14px;">- or -</span>
      <br><br>
      <div class="login"><img src="/static/img/essential2/email.svg" height="30" style="vertical-align:middle;margin-right:30px;">Log in with Email</div>
      </div>
    </div>
    <script type="text/javascript" src="/static/js/jquery.min.js"></script>
    <script type="text/javascript" src="/static/js/login.js"></script>
  </body>
</html>