{% include 'header.html' %}
		<div class="container about">
			<span style="font-size:30px;">What is Cartographr</span><br><br>
			<p>Cartographr's aim is to provide the world with a platform where <br/>all the data is provided in the form of
				charts and visualizations.<br/><br/>Consider Cartographr as a Wikipedia of Visualisations, anyone can embed <br/>the
				charts available here, prepare charts using predefined visualizations options,<br/> and edit already available visualizations.<br/><br/>
				Use it well. It's a one man effort.
			</p>
		</div>
	</body>
</html>